<<<<<<< HEAD
   * {
       padding: 0;
       margin: 0;
   }

   body {
       background-color: lemonchiffon;
   }

   h1 {
       background-color: gold;
       color: rgb(235, 9, 55);
       text-align: center;

   }

   header {
       background-color: burlywood;
       color: rgb(24, 8, 241);
       text-align: center;
       width: 50%;
       display: inline-block;
       position: relative;
       top: -30px;
       height: 125px;
   }

   .table {
       background-color: darkkhaki;
       color: blue;
       text-align: center;
       width: 49%;
       display: inline-block;
       position: relative;
       top: 1px;

   }

   .click {
       text-align: center;
       border: 3px solid gold;
   }

   .pict {
       text-align: center;
       background-color: blanchedalmond;
       border: 3px solid gold;
   }

   .head {
       background-color: darkgoldenrod;
   }

   #h3 {
       background-color: blanchedalmond;
   }


   #para {
       background-color: cadetblue;
       color: gold;
       line-height: 1.5;
       font-size: medium;
       font-style: oblique;
   }

   #click {
       background-color: gold;
   }

   #tell {
       background-color: chocolate;
   }

   #img {
       background-image: url(pexels-sagui-andrea-618833.jpg);
   }

   #form {
       background-image: url(pexels-aleksandar-pasaric-325185.jpg);
       background-repeat: no-repeat;
       background-size: contain;
       position: relative;
       left: 469px;
   }


   .center {
       text-align: center;
       border: 2px solid gold;
   }

   footer {
       text-align: center;
   }

   #ok {
       background-color: darkgoldenrod;
   }

   .yes {
       text-align: center;
   }

   .last {
       background-color: black;
       color: white;
       text-align: center;
       width: 100%;
       height: 40px;
       padding-top: 15px;
   }
=======
* {
  box-sizing: border-box;
  list-style: none;
}
@media screen and (max-width: 600px) {
  body {
    color: rgb(241, 18, 26);
  }
}

.heading {
  color: blueviolet;
  padding: 15px;
  border: 3px solid rgb(56, 200, 56);
  background-color: rgb(129, 218, 129);
}
.name {
  color: blueviolet;
  text-align: center;
}
body {
  background-color: rgb(220, 247, 220);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.detail {
  text-align: center;
  font-size: medium;
  background-color: rgb(159, 238, 159);
  border: 1px solid rgb(56, 200, 56);
  overflow: hidden;
}
.detail li {
  display: block;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 15px;
  float: left;
  font-size: medium;
}
li a:hover {
  color: brown;
}
.image {
  text-align: center;
}
.text {
  font-size: larger;
  padding-left: 15px;
  padding-right: 15px;
  text-justify: auto;
}
.cdpf {
  color: blueviolet;
  text-align: center;
}
.parent {
  display: flex;
  justify-content: space-around;
}
.first {
  width: 250px;
  height: 350px;
  border: 2px black;
  border-radius: 8px;
  border-style: ridge;
  text-align: center;
  transition: width 2s,height 2s,border-radius 2s,background 2s;
}
.first:hover {
  width: 350px;
  height: 260px;
  border-radius: 100px;
  background-color: rgb(159, 238, 159);
}
.second {
  width: 250px;
  height: 350px;
  border: 2px black;
  border-radius: 8px;
  border-style: ridge;
  text-align: center;
  transition: width 2s,height 2s,border-radius 2s,background 2s;
}
.second:hover {
  width: 350px;
  height: 260px;
  border-radius: 100px;
  background-color: rgb(159, 238, 159);
}
.third {
  width: 250px;
  height: 350px;
  border: 2px black;
  border-radius: 8px;
  border-style: ridge;
  text-align: center;
  transition: width 2s,height 2s,border-radius 2s,background 2s;
}
.third:hover {
  width: 350px;
  height: 260px;
  border-radius: 100px;
  background-color: rgb(159, 238, 159);
}
.button {
  text-align: center;
  border-radius: 5px;
  background-color: cadetblue;
  width: 100px;
  height: 30px;
  margin-left: 70px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.pehla {
  background-color: rgb(159, 238, 159);
  border: 2px solid rgb(56, 200, 56);
  grid-row-start: 1;
  grid-row-end: 4;
}
.dusra {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  border: 1px solid rgb(56, 200, 56);
  grid-row-start: 1;
  grid-row-end: 4;
}
.tesra {
  display: grid;

  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  border: 1px solid rgb(56, 200, 56);
  grid-row-start: 1;
  grid-row-end: 4;
}
.tnd {
  background-color: rgb(159, 238, 159);
  border: 2px solid rgb(56, 200, 56);
}
.hnd {
  background-color: rgb(159, 238, 159);
  border: 2px solid rgb(56, 200, 56);
}
>>>>>>> 996c01d10cf7e7e0678f5cdf137b824f21bd22f1
